{
  "printWidth": 100,
  "plugins": ["@prettier/plugin-ruby"],
  "rubySingleQuote": true,
  "options": {
    "trailingComma": "es5",
    "rubySingleQuote": true,
    "rubyPlugins": "plugin/single_quotes,plugin/trailing_comma"
  },
  "overrides": [
    {
      "files": ["*.rb"],
      "options": {
        "printWidth": 100,
        "trailingComma": "es5",
        "rubySingleQuote": true,
        "rubyPlugins": "plugin/single_quotes,plugin/trailing_comma"
      }
    }
  ]
}
